server {
        listen {{ http_port }};
	listen {{ https_port }};
	ssl {{ ssl_enabled }}; #deprecated - listen 443 ssl should be used instead
        root /var/www/html;
        index info.php;
        server_name {{ http_host }};
	include {{ cert_conf }};
	include {{ ssl_conf }};

        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:{{ php_sock }};
        }

        location ~ /\.ht {
                deny all;
        }
}
