;
; {{ ansible_managed }}
;

[{{ php_pool_name }}]
listen = /var/run/php/php7.2-fpm_{{ php_pool_name }}.sock
listen.owner = {{ php_pool_user }}
listen.group = {{ php_pool_group }}

user = {{ php_pool_user }}
group = {{ php_pool_group }}

pm = {{ item.pm|default('dynamic') }}
pm.max_children = {{ item.pm_max_children|default('5') }}
pm.start_servers = {{ item.pm_start_servers|default('2') }}
pm.process_idle_timeout = {{ item.pm_process_idle_timeout|default('10s') }}
pm.min_spare_servers = {{ item.pm_min_spare_servers|default('1') }}
pm.max_spare_servers = {{ item.pm_max_spare_servers|default('3') }}
pm.max_requests = {{ item.pm_max_requests|default('500') }}
